doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Entrepreneurship | VisionerandFriends

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Entrepreneurship
        h3 Disusun oleh :
        h3 Anggi Sri Utami (131113751)
        h3 Dwi Syahputra (131114277)
        h3 Safira Adelia (131113794)
        h3 Yohanes (131111092)

      section
        h2 Apa itu Entrepreneurship ?
        ul
          li
          li 
            p#des Enterpreneurship adalah kemampuan dan kemauan nyata seorang individu, yang berasal dari diri mereka sendiri, dalam tim di dalam maupun luar organisasi yang ada, untuk menemukan dan menciptakan peluang ekonomi baru.
          li 

      section
        h2 Mengapa orang menjadi wirausaha/entrepreneur? 

    script(src='build/build.js') //baris ini jangan dihapus