doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Entrepreneurship | VisionerandFriends

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Entrepreneurship
        h3 Disusun oleh :
        h3 Anggi Sri Utami (131113751)
        h3 Dwi Syahputra (131114277)
        h3 Safira Adelia (131113794)
        h3 Yohanes (131111092)

      section
        h2 Apa itu Entrepreneurship ?
        <img src="images/7f374-kata2bkata2bmutiara2btentang2bmasa2bdepan.png">
        ul
          li
          li 
            p#des Enterpreneurship adalah kemampuan dan kemauan nyata seorang individu, yang berasal dari diri mereka sendiri, dalam tim di dalam maupun luar organisasi yang ada, untuk menemukan dan menciptakan peluang ekonomi baru.
          li 

      section
        h2 Mengapa orang mengambil tantangan menjadi wirausaha/entrepreneur?
        ul
          li
          <br>
          li 
            h3 1. opportunity/kesempatan 
            p#des Kesempatan menjadi entrereneur adalah menjadi Leadership atau kepemimpinan di bisnis yang anda bangun.
          li 
            h3 2. Profit/ keuntungan 
            p#des Salah satu alasan yang menggiurkan menjadi seseorang entrepreneur adalah keuntungan yang didapat. Anda bisa menjadi orang terkaya jika bisnis yang dikerjakan sukses.
          li 
            h3 3. Independence/Kebebasan  
            p#des Salah satu dari yang terbaik menjadi entrepreneur adalah kebebasanuntuk mengejar semangat dan cita-citamu.

      section
        h2 Micropreneur / home-based businesses. 
        <img src="images/micropreneur.jpg">
        ul
          li
          li 
            p#des Micropreneur bersedia untuk menerima resiko untuk memulai dan mengelola bisnis yang tetap kecil, mereka melakukan pekerjaan yang mereka ingin lakukan, dan menawarkan gaya hidup yang seimbang. Contoh dari Micropreneur seperti penulis.
          li 

      section
        h2 Beberapa alasan berkembangnya home-based businesses: 
        ul
          li
          <br>
          li 
            p#des 1. Teknologi komputer bisa berkompetisi dengan orang yang bekerja dilapangan dan hasilnya tidak beda jauh. 
          li
            p#des 2. Corporate downsizing(perampingan) menyebabkan banyak karyawan membuat usaha sendiri 
          li 
            p#des 3. Sikap sosial telah berubah 
          li
            p#des 4. Hukum pajak baru telah melonggarkan pembatasan dengan dikuranginya biaya untuk rumah kantor.  

      section
        h2 Keuntungan home-based businesses:
        ul
          li
          <br>
          li 
            p#des 1. Kemampuan untuk memulai bisnis dengan segera 
          li
            p#des 2. Nyaman dengan kondisi pekerjaan
          li 
            p#des 3. Rendah resiko dari percobaan dan kesalahan

      section
        h2 Kelemahan home-based businesses: 
        ul
          li
          <br>
          li 
            p#des 1. Susah untuk membangun kebiasaan kerja 
          li
            p#des 2. Terbatasnya dukungan sistem 
          li 
            p#des 3. Ruang kerja kemungkinan terbatas 

      section
        h2 Web-based businesses. 
        <img src="images/webapp.jpg">
        ul
          li
          li 
            p#des Dengan berkembang cepatnya internet, sekarang berbisnis juga dapat dilakukan melalui internet.Salah satu jalur termudah dalam memulai Web-based businesses dengan melalui <b>Affiliate Marketing</b>. 
          li

      section
        h2 Affiliate Marketing
        ul
          li
          li 
            p#des Merupakan strategi marketing yang berbasis internet. Cara kerjanya adalah kita menjual produk orang lain di dalam dunia maya ketika Anda mengirimkan suatu situs ke seseorang, dan mereka melakukan pembelian maka anda akan menerima komisi dari perusahaan.
          li 
 

      section
        h2 Materi Referensi
        ul
          li
          li 
            p#des - http://www.ayrusia.blogspot.com/2012/10/apa-itu-entrepreneurship.
            p#des - https://en.wikipedia.org/wiki/Entrepreneurship
            p#des - http://www.entrepreneur.com/
          li 
 
      section
        h1 TERIMA KASIH
    script(src='build/build.js') //baris ini jangan dihapus